{include file='header.html'}
{$ruta} 
{if isset($msg)}{include file='../mensajes.html'}{/if}
      
<div class="container-fluid">
  <div class="main row">
    <nav class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-3">
      
      {if isset($alumno)}
        <form action="datos.php?accion=update" method="post" enctype="multipart/form-data" novalidate>  
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Actualizar Alumno - Número de Control: {$alumno.cveusuario}</h3>
            </div>

            <div class="panel-body">
              {if isset($alumno)}<input type="hidden" name="cveusuario" value="{$alumno.cveusuario}">{/if}
              
              <div class="row">
                <div class="col-sm-12" id="imgPortada">
                  <label>Imagen de Perfil</label>
                  <div id="kv-avatar-errors-2" class="center-block" style="display:none"></div>
                  <div class="kv-avatar center-block text-center form-group" style="width:200px">
                    <input id="portada" name="foto" type="file" class="file-loading" accept="image/*" required/>
                  </div>
                </div>
              </div> <!--end row-->
              
              <div class="form-group">
                <label>Nombre Completo:</label>
                <input class="form-control" placeholder="Nombre y Apellidos" name="datos[nombre]"  required
                  {if isset($alumno)} value="{$alumno.nombreUsuario}" {/if}>
              </div>
                
              <div class="form-group">
                <label>Especialidad:</label>
                <label id="l4" style="display:{if $alumno.cveespecialidad eq 'O'}block{else}none{/if}">Carrera</label>
                <input id="r4" type="radio" class="btn btn-default" value='true' name="datos[especialidad]" 
                  style="display:{if $alumno.cveespecialidad eq 'O'}block{else}none{/if}" onclick="otro()">
                
                <div id="carrera" class="form-group" 
                  style="display:{if $alumno.cveespecialidad ne 'O'}block{else}none{/if}">
                  {$combo}
                </div>
              </div>
                
              {if !isset($alumno)}
                <div class="form-group">
                  <label>RFC: </label>
                  <input class="form-control" placeholder="RFC" name="datos[usuario]" maxlength="13" required>
                </div>
              {/if}
              
              <div class="form-group">
                <label>Correo: </label>
                <input type="email" class="form-control" placeholder="Correo" name="datos[correo]" maxlength="75" required
                {if isset($alumno)} value="{$alumno.correo}" {/if}>
              </div>
              
              {if !isset($alumno)}
                <div class="form-group">
                  <label>Contraseña:</label>
                  <input type="password" class="form-control" placeholder="Contraseña" name="datos[contrasena]" required>
                </div>
                
                <div class="form-group">
                  <label>Confirmar contraseña:</label>
                  <input type="password" class="form-control" placeholder="Confirmar contraseña" 
                    name="datos[confcontrasena]" required>
                </div>
              {/if}
              
              {if isset($alumno)}
                <div id='js' class="form-group">
                  <label id="l1">Modificar contraseña</label>
                  <input id="r1" type="radio" class="btn btn-default" value='true' name="datos[pass]" onclick="mostrar()">
                  <label id ="l2" style="display:none">Mantener contraseña original</label>
                  <input id="r2" type="radio" class="btn btn-default" value='false' name="datos[pass]" 
                    onclick="mostrar()" checked style="display:none">
                </div>
                
                <div id='oculto' class="form-group" style="display:none">
                  
                  <div class="form-group">
                    <label>Contraseña:</label>
                    <input type="password" class="form-control" placeholder="Contraseña" name="datos[contrasena]">
                  </div>
                  
                  <div class="form-group">
                    <label>Nueva contraseña:</label>
                    <input type="password" class="form-control" placeholder="Nueva contraseña" name="datos[contrasenaN]">
                  </div>
                  
                  <div class="form-group">
                    <label>Confirmar Nueva contraseña:</label>
                    <input type="password" class="form-control" placeholder="Confirmar nueva contraseña" 
                      name="datos[confcontrasenaN]">
                  </div>
                  
                </div>
              {/if}
              
            </div>
          </div>
          
          <div class="form-group" align="right">
            <button type="submit" class="btn btn-primary">
              {if isset($alumno)} Actualizar {else} Guardar {/if}
            </button>
          </div>
        </form>
      {/if}
    </nav>
  </div>
</div>  

<script type="text/javascript">
  $("#portada").fileinput({
    overwriteInitial: true,
    showClose: false,
    showCaption: false,
    showBrowse: false,
    browseOnZoneClick: true,
    removeLabel: '',
    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
    removeTitle: 'Cancela o reinicia',
    elErrorContainer: '#kv-avatar-errors-2',
    msgErrorClass: 'alert alert-block alert-danger',
    defaultPreviewContent: '<img src="../Images/fotos/{$foto}" alt="portada" style="width:120px"><h6 class="text-muted">Clic aquí para subir imagen</h6>',
    {literal} layoutTemplates: {main2: '{preview} {remove} {browse}'}, {/literal}
    allowedFileExtensions: ["jpg", "png"]
  });
</script>

{include file='footer.html'}