{include file="header.html"}
{$ruta}
{if isset($msg)}{include file='../mensajes.html'}{/if}

<div class="page-header">
  <h2>Selección de Libros</h2>
</div>

<div class="container-fluid">
  <div class="main row">
      <nav class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-push-2">

      {if isset($datos)}
        <table id="example" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th><center>AUTOR</center></th>
              <th><center>TITULO</center></th>
              <th><center>EDITORIAL</center></th>
              <th><center>CANTIDAD</center></th>
              <th width="50"><center>PORTADA</center></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><center>AUTOR</center></th>
              <th><center>TITULO</center></th>
              <th><center>EDITORIAL</center></th>
              <th><center>CANTIDAD</center></th>
              <th width="50"><center>PORTADA</center></th>
            </tr>
          </tfoot>
        </table>
        
        <script type="text/javascript">
          $(document).ready(function() {
            $('#example').DataTable( {
              "ajax": "TextFiles/libros.txt",
              "columns": [
                { "data": "autor" },
                { "data": "titulo" },
                { "data": "editorial" },
                { "data": "cantidad" },
                { "img": "portada" }
              ],
              "columnDefs": [ {
                "className": "dt-center", 
                "targets": "_all"
              }]
            } );
          } );
        </script>
      {/if}

    </nav>
  </div>
</div>

<!--Tabla de libros-->
{if isset($libros)}
  <form action="grupo.php?accion=fileinput&info1={$cvelectura}" method="post" enctype="multipart/form-data">
    
    <div class="page-header">
      <h2>Listado de Libros</h2>
      Para subir un reporte, selecciona el libro en la columna REPORTE y después sube el archivo.
    </div>
    <table class='table table-striped'>
      <tr>
        <th style="vertical-align:middle"><center>TITULO</center></th>
        <th style="vertical-align:middle"><center>REPORTE</center></th>
        <th style="vertical-align:middle"><center>OPCIONES</center></th>
        <th style="vertical-align:middle"><center>ESTADO LIBRO</center></th>
      </tr>
      {foreach $libros as $libro}
        <tr>
          <td style="vertical-align:middle"><center>{$libro.titulo}</center></td>
          <td style="vertical-align:middle"><center>
            <input id="r4" type="radio" class="btn btn-default" value='{$libro.cvelibro}' name="datos[reporte]">
          </center></td>
          <td style="vertical-align:middle"><center>
            {if {$libro.reporte} eq 1}
              <a href="grupo.php?accion=down&info=2&info2={$grupo}&info3={$libro.cvelibro}"><img src="../Images/reporte.png" title="Descargar"></img></a>
              <!--<a href="grupo.php?accion=del&info={$grupo}&info2={$libro.cvelibro}"><img src="../Images/borrar.png" title="Eliminar"></img></a>-->
            {else}
              <img src="../Images/noexiste.png"></img>
            {/if}
          </center></td>
          <td style="vertical-align:middle"><center>{$libro.estado}</center></td>
        </tr>
      {/foreach}
    </table>
    
    <div class="page-header">
      <h2>Reporte</h2>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Subir reporte</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <input id="file-1" type="file" class="file-loading" multiple=true data-preview-file-type="any" name="datos[archivo]">
        </div>
      </div>
    </div>
  
  </form>
{/if}

{include file="footer.html"}