{include file="header.html"}
{$ruta}

<style type="text/css">
.box{
  margin: 25px auto;
  width: 300px;
  height: 50px;
}

.container-1{
  width: 900px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  background: #004f7f;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #004f7f;
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #eaeff2;
}
 
.container-1 input#search:-moz-placeholder {
   color: #eaeff2;  
}
 
.container-1 input#search::-moz-placeholder {  
   color: #eaeff2;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #eaeff2;  
}

.container-1 #icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #eaeff2;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #337ab7;
}
</style>

<!--<div class="box">-->
<!--  <div class="container-1">-->
<!--    <span class="glyphicon glyphicon-search" id="icon"></span>-->
<!--    <input type="search" id="search" placeholder="Search..." />-->
<!--  </div>-->
<!--</div>-->

<!--<div class="contenedor">-->
<!--  <div class="ex1">-->
<!--    <a href="#"><img src="../Images/portadas/prueba.jpg" width="130px"></img></a>-->
<!--    <a href="#"><img src="../Images/portadas/prueba2.jpg" width="130px"></img></a>-->
<!--    <a href="#"><img src="../Images/portadas/prueba2.jpg" width="130px"></img></a>-->
<!--    <a href="#"><img src="../Images/portadas/prueba2.jpg" width="130px"></img></a>-->
<!--    <a href="#"><img src="../Images/portadas/prueba2.jpg" width="130px"></img></a>-->
<!--  </div>-->
<!--</div>-->

<!--ciclo mandar el número total y las claves, las imágenes están como cvelibro.jpg-->

<div class="page-header">
  <h2>Selección de Libros</h2>
</div>

<div class="container-fluid">
  <div class="main row">
    <nav class="col-xs-12 col-sm-12 col-md-10 col-lg-6 col-md-push-3">
      
      {if isset($msg)}{include file='../mensajes.html'}{/if}
      
      <form action="grupo.php?accion=insert" method="post">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Seleccionar Libro</h3>
          </div>
          <div class="panel-body">
            <input type="hidden" name="datos[cvelectura]" value="{$cvelectura}">
            <div class="form-group">
              <label>Libro: </label>
              {$cmb_libro}
            </div>
          </div>
        </div>
        <div class="form-group" align="right">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </nav>
  </div>
</div>

<!--Tabla de libros-->
{if isset($libros)}
  <div class="page-header">
    <h2>Reporte</h2>
  </div>
  
  <form action="grupo.php?accion=fileinput&info1={$cvelectura}" method="post" enctype="multipart/form-data">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Subir reporte</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <input id="file-1" type="file" class="file-loading" multiple=true data-preview-file-type="any" name="datos[archivo]">
        </div>
      </div>
    </div>
    
    <div class="page-header">
      <h2>Lista de Libros</h2>
    </div>
    
    <table class='table table-striped'>
      <tr>
        <th style="vertical-align:middle"><center>TITULO</center></th>
        <th style="vertical-align:middle"><center>REPORTE</center></th>
        <th style="vertical-align:middle"><center></center></th>
        <th style="vertical-align:middle"><center>ESTADO LIBRO</center></th>
      </tr>
      {foreach $libros as $libro}
        <tr>
          <td style="vertical-align:middle"><center>{$libro.titulo}</center></td>
          <td style="vertical-align:middle"><center>
            <input id="r4" type="radio" class="btn btn-default" value='{$libro.cvelibro}' name="datos[reporte]">
          </center></td>
          <td style="vertical-align:middle"><center>
            {if {$libro.reporte} eq 1}<a href="grupo.php?accion=down&info=2&info2={$grupo}&info3={$libro.cvelibro}"><img src="../Images/reporte.png"></img></a>{else}<img src="../Images/noexiste.png"></img>{/if}
          </center></td>
          <td style="vertical-align:middle"><center>{$libro.estado}</center></td>
        </tr>
      {/foreach}
    </table>
  </form>
{/if}

{include file="footer.html"}