{include file='foro/foro_header.html'}
{$ruta}
{if isset($msg)} {include file='../../mensajes.html'} {/if}
<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">
              Foro: {$libro.titulo}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#page-breadcrumb-->
<section class="padding-top" id="blog-details">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-7">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="single-blog blog-details two-column">
              <div align="center" class="post-thumb">
                <a href="#">
                  <img alt="" class="img-responsive" src="../Images/portadas/{$libro.portada}"/>
                </a>
              </div>
              <div class="post-content overflow">
                <h2 class="post-title bold">
                  <a href="#">
                    {$libro.titulo}
                  </a>
                </h2>
                <h3 class="post-author">
                  <a href="#">
                    Escrito por: {$libro.autor}
                  </a>
                </h3>
                <p align="justify">
                  {$libro.sinopsis}
                </p>
                <div class="post-bottom overflow">
                  <ul class="nav navbar-nav post-nav">
                    <li style="color:#337ab7">
                      <span aria-hidden="true" class="glyphicon glyphicon-comment">
                      </span>
                      {$num_comentarios} comentarios
                    </li>
                  </ul>
                </div>
                <div class="blog-share">
                  <!-- <span class='st_facebook_hcount'></span>
                  <span class='st_twitter_hcount'></span>
                  <span class='st_linkedin_hcount'></span>
                  <span class='st_pinterest_hcount'></span>
                  <span class='st_email_hcount'></span> -->
                </div>
                {if isset($rol)}
                <div class="response-area">
                  <h2 class="bold">
                    Déjanos conocer tu opinión
                  </h2>
                  <form action="foro_libro.php?action=comment&info={$libro.cvelibro}" method="post">
                    <div class="form-group">
                      <textarea class="form-control" name="review" placeholder="Máximo 1000 caracteres" rows="5">
                      </textarea>
                    </div>
                    <div align="right" class="form-group">
                      <input class="btn btn-primary" type="submit" value="Comentar"/>
                    </div>
                  </form>
                </div>
                {else}
                <div class="response-area">
                  <h2 class="bold">
                    Si quieres dejar un comentario
                    <a href="registrar.php">
                      regístrate
                      <a>
                      </a>
                      o
                      <a href="login.php">
                        ingresa aquí
                        <a>
                        </a>
                      </a>
                    </a>
                  </h2>
                </div>
                {/if}
                <div class="response-area">
                  {if isset($comentarios)}
                  <h2 class="bold">
                    Comentarios
                  </h2>
                  <ul class="media-list">
                    {foreach $comentarios as $comentario}
                    <li class="media">
                      <div class="post-comment">
                        <a class="pull-left" href="#">
                          <img alt="" class="media-object" src="../Images/fotos/{$comentario.foto}">
                          </img>
                        </a>
                        <div class="media-body">
                          <span aria-hidden="true" class="glyphicon glyphicon-user" style="color:#337ab7">
                            Publicado por {$comentario.nombre}
                          </span>
                          <p>
                            {$comentario.contenido}
                          </p>
                          <ul class="nav navbar-nav post-nav">
                            <li>
                              <span aria-hidden="true" class="glyphicon glyphicon-calendar" style="color:#337ab7">
                                {$comentario.fecha}
                              </span>
                            </li>
                            <li>
                              <span aria-hidden="true" class="glyphicon glyphicon-share-alt" style="color:#337ab7">
                                <a href="#">
                                  Responder
                                </a>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      {if isset($comentario.respuesta)}
                            {foreach $comentario.respuesta as $respuesta}
                      <div class="parrent">
                        <ul class="media-list">
                          <li class="post-comment reply">
                            <a class="pull-left" href="#">
                              <img alt="" class="media-object" src="../Images/fotos/{$respuesta.foto}">
                              </img>
                            </a>
                            <div class="media-body">
                              <span aria-hidden="true" class="glyphicon glyphicon-user" style="color:#337ab7">
                                Comentario de {$respuesta.nombre}
                              </span>
                              <p>
                                {$respuesta.contenido}
                              </p>
                              <ul class="nav navbar-nav post-nav">
                                <li>
                                  <span aria-hidden="true" class="glyphicon glyphicon-calendar" style="color:#337ab7">
                                    {$respuesta.fecha}
                                  </span>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                      {/foreach}
                          {/if}
                    </li>
                    {/foreach}
                  </ul>
                  {else}
                  <h2 class="bold">
                    No hay comentarios
                  </h2>
                  {/if}
                </div>
                <!--/Response-area-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#blog-->
{* include file="foro/foro_footer.html" *}
