<div class="table_container">
  <div class="table_header">
    <center>{$titulo}</center>
    <center>{$subtitulo}</center>
  </div>

  <table class="table table-bordered">
    <thead class="thead-default">
      <tr>
        {foreach $columns as $column}
          {if $column eq "NOMBRE"}
            <th style="text-align:center" width="80">{$column}</th>
          {else}
            <th style="text-align:center">{$column}</th>
          {/if}
        {/foreach}
      </tr>
    </thead>
    
    <tbody>
      {foreach $rows as $row}
        <tr>
          {for $i=0 to $fin}
              <td style="text-align; font-size:13px; vertical-align:middle" 
                valign="middle" align="center" 
                {if $i == 1 && $table eq "alumnos"}width="80"{/if}>
                {$row[{$i}]}
              </td>
          {/for}
        </tr>
      {/foreach}
    </tbody>
  </table>
</div>

{if isset($calif)}
  <div class="notes">
    <div class="notes_header">
      Observaciones
    </div>  
    
    {foreach $observaciones as $o}
      <div class="notes_content">
        {$o.fecha} - {$o.observacion}
      </div>
    {/foreach}
  </div>
{/if}

