{include file="header.html"}
{$ruta}   
<div class="container-fluid">
  <div class="main row">
    <nav class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-3">
      {if isset($msg)} {include file='../mensajes.html'} {/if}
      <form action="salas.php?accion={if isset($salas)}update{else}insert{/if}" method="post">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {if isset($salas)} Actualizar{else} Nueva{/if} Sala
            </h3>
          </div>
          <div class="panel-body">
            {if isset($salas)}
              <input type="hidden" name="datos[cvesala]" value="{$salas.cvesala}">
            {/if}
            <div class="form-group">
              <label>Ubicación:</label>
              <input class="form-control" placeholder="Ingrese la ubicación de la Sala" name="datos[ubicacion]" required
                {if isset($salas)} value="{$salas.ubicacion}" {/if}>
            </div>
            <div class="form-group">
              <label>Estado:</label>
              <select class="form-control" name="datos[disponible]">
                <option {if isset($salas)} {if {$salas.disponible} eq 'f'} selected {/if} {/if} value="f">No Disponible</option>
                <option {if isset($salas)} {if {$salas.disponible} eq 't'} selected {/if} {/if} value="t">Disponible</option>
              </select>
            </div>
          </div>
        </div>
        <div align="right">
          <button type="submit" class="btn btn-primary">
            {if isset($salas)} Actualizar {else} Guardar {/if}
          </button>
        </div>
      </form>
    </nav>
  </div>
</div>
{include file ="footer.html"}