{include file='header.html'}
{$ruta}
{include file='../number_style.html'}
{if isset($msg)}{include file='../mensajes.html'}{/if}

<div class="container-fluid">
  <div class="main row">
    <nav class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-3">
      
      <form class="form form-vertical" method="post" enctype="multipart/form-data" 
        action="libros.php?accion={if isset($libros)}update{else}insert{/if}">
        
        {if isset($libros)}<input type="hidden" name="cvelibro" value="{$libros.cvelibro}">{/if}
        
        <div class="panel panel-default">
          
          <div class="panel-heading">
            <h3 class="panel-title">
              {if isset($libros)} Actualizar Libro {else} Nuevo Libro {/if}
            </h3>
          </div>

          <div class="panel-body">
            
            <div class="row">
              
              <div class="col-sm-12">
                <div id="kv-avatar-errors-1" class="center-block" style="display:none"></div>
                
                <div class="kv-avatar center-block text-center form-group" style="width:400px">
                  <input id="portada" name="portada" type="file" class="file-loading" accept="image/*" required/>
                </div>
              </div>
              
              <div class="col-sm-12">
                <div class="row">
                  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label> Título <span class="kv-reqd">*</span></label> 
                      <input class="form-control" name="titulo" placeholder="Título del Libro" maxlength="255" required
                      {if isset($libros)} value="{$libros.titulo}" {/if}>
                    </div>
                  </div>
                  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label> Autor <span class="kv-reqd">*</span></label>
                      <input class="form-control" name="autor" placeholder="Nombre del Autor" maxlength="75" required
                      {if isset($libros)} value="{$libros.autor}" {/if}>
                    </div>
                  </div>
                  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label> Editorial <span class="kv-reqd">*</span></label> 
                      <input class="form-control" name="editorial" placeholder="Editorial del Libro" maxlength="25" required
                      {if isset($libros)} value="{$libros.editorial}" {/if}>
                    </div>
                  </div>
                  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label> Cantidad <span class="kv-reqd">*</span></label> 
                      <input type="number" class="form-control" name="cantidad" placeholder="Cantidad"
                        min="0" max="999999999999999" required {if isset($libros)} value="{$libros.cantidad}" {/if}>
                    </div>
                  </div>
                  
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label> Sinopsis <span class="kv-reqd">*</span></label> 
                      <textarea class="form-control" name="sinopsis" required 
                        style="text-align:left; resize:none" cols="20" rows="8" 
                        placeholder="Escriba la sinopsis del libro...">
                        {if isset($libros)} {$libros.sinopsis} {/if}
                      </textarea>
                    </div>
                  </div>
                  
                </div> <!--end row-->
                
                <hr/>
                <div class="text-right">
                  <button type="submit" class="btn btn-primary">{if isset($libros)} Actualizar {else} Guardar {/if}</button>
                </div>
                
              </div><!-- end col-sm-8 -->
            </div> <!--end row-->
          </div> <!-- end-panel-body -->
        </div> <!-- end-panel-panel-default -->
      </form>
      
    </nav>
  </div>
</div>

<script type="text/javascript">
  $(document).on('ready', function() {
  $("#portada").fileinput({
    initialPreview: ['../Images/portadas/{$portada}'],
    initialPreviewAsData: true,
    initialPreviewConfig: [ 
      {literal}{{/literal} 
        caption: "{$portada}", size: 930321, width: "120px", key: 1, showDelete: false 
      {literal}}{/literal}
    ],  
    maxFileSize: 1500,
    showClose: false,
    showCaption: false,
    browseLabel: '',
    removeLabel: '',
    browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
    removeTitle: 'Cancel or reset changes',
    elErrorContainer: '#kv-avatar-errors-1',
    msgErrorClass: 'alert alert-block alert-danger',
    defaultPreviewContent:'<img src="../Images/portadas/no_disponible.jpg" alt="Your Avatar" style="width:400px">',
    {literal} layoutTemplates: {main2: '{preview} {remove} {browse}'}, {/literal}
    allowedFileExtensions: ["jpg", "png", "gif"]
  });
});
</script>

{include file='footer.html'}
