{include file='header.html'}
{$ruta}
{if isset($msg)} {include file='../mensajes.html'} {/if}

<table class='table'>
	<tr>
		<td colspan='4' align='right'>
			<a href='libros.php?accion=form_insert&tabla=periodo'>
				<img src='../Images/add.png'/> 
			</a>
		</td>
	</tr> 
</table>

{if isset($datos)}
	<table id="example" class="display" cellspacing="0" width="100%">
		<thead>
      <tr>
        <th><center>CLAVE</center></th>
				<th><center>AUTOR</center></th>
				<th><center>TITULO</center></th>
				<th><center>EDITORIAL</center></th>
				<th><center>CANTIDAD</center></th>
				<th width="50"><center>PORTADA</center></th>
				<th><center>ELIMINAR</center></th>
				<th><center>ACTUALIZAR</center></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><center>CLAVE</center></th>
				<th><center>AUTOR</center></th>
				<th><center>TITULO</center></th>
				<th><center>EDITORIAL</center></th>
				<th><center>CANTIDAD</center></th>
				<th><center>PORTADA</center></th>
				<th><center>ELIMINAR</center></th>
				<th><center>ACTUALIZAR</center></th>
      </tr>
    </tfoot>
  </table>
{/if}

{include file='footer.html'}
