{include file="header.html"}
{$ruta}   

{if isset($msg)} {include file='../mensajes.html'} {/if}

<table class='table'>
	<tr><td colspan='4' align='right'>
		<a href='salas.php?accion=form_insert&tabla=sala'>
			<img src='../Images/add.png'/>
		</a>
	</td></tr>
</table>

{if isset($salones)}
	<table id="example" class='table table-striped display' cellspacing="0" width="100%">
		<tr>		
			<th>CLAVE SALA</th>
			<th>UBICACION</th>
			<th><center>ELIMINAR</center></th>
			<th><center>ACTUALIZAR</center></th>
		</tr>
	{foreach $salones as $salon}
		<tr>
			<td>{$salon.cvesala}</td>
			<td>{$salon.ubicacion}</td>
			<td><center><a class="delete" href="salas.php?accion=delete&info1={$salon.cvesala}">
				<img src="../Images/cancelar.png">
			</a></center></td>
			<td><center><a href="salas.php?accion=form_update&info2={$salon.cvesala}">
				<img src="../Images/edit.png">
			</a></center></td>
		</tr>
	{/foreach}
	</table>
{/if}

{include file="footer.html"}
