{include file="header.html"}
{$ruta} 
{include file='../number_style.html'}
{if isset($msg)}{include file='../mensajes.html'}{/if}

{if isset($info)}
	<center><div class="form-group" style ="background-color:#f0f0f0"><label>
		Sala: {$info.nombre}<br>
		Ubicación: {$info.ubicacion}<br>
		Periodo: {$info.fechainicio} - {$info.fechafinal}<br>
		Grupo: {$info.letra}
	</div></center>
{/if}
{if !isset($libros)}
	{if isset($datos)}
	
		{if isset($formato_preguntas)}
			<a href="grupo.php?accion=formato_preguntas"> 
	  	<img src="../Images/reporte.png"></a>
		{/if}
	
		<table class='table table-striped' width='500'>
			<tr>
				<th><center>ALUMNO</center></th>
				<th><center>ASISTENCIA</center></th>
				<th><center>COMPRENSIÓN</center></th> 
				<th><center>PARTICIPACIÓN</center></th> 
				<th><center>ACTIVIDADES</center></th>
				<th><center>REPORTE</center></th>
				<th><center>TERMINADO</center></th>
				<th><center>OPCIONES</center></th>
			</tr>
	
			{foreach $datos as $alumno}
				<tr> 
					 <form class='form - inline' action='grupo.php?info1={$info.letra}' method='post'>
						 <input type="hidden" name="datos[cveeval]" value="{$alumno.cveeval}"> 
						 <td width='500' style="vertical-align:middle"> {$alumno.nombre} </td>
						 <td width='500'>
						 	<div id="myprogress" style=" position: relative; width: 100%; height: 30px; background-color: #ddd;">	
						 		<div id="mybar" 
						 			style="position:absolute; width:{$alumno.asistencia}%; height: 100%; background-color:#4caf50;">
						 			<div id="label" 
						 				style="text-align: center; line-height: 30px; color: white;">
						 				{$alumno.asistencia}% 
						 			</div>
						 		</div>
					 		</div>
						 	</br>
						 	<center>
						 		<input type="number" class="form-control" name="datos[asistencia]" required value = "{$alumno.asistencia}" style="width:65px ; display:block; "maxlength="3">
						 	</center>
						</td>
	
					 <td width='500'>  
					 	<div id="myprogress" style=" position: relative; width: 100%; height: 30px; background-color: #ddd;">	
					 		<div id="mybar" style="position: absolute; width: {$alumno.comprension}% ;height: 100%; background-color: #4caf50;"> 
					 			<div id="label"style="text-align: center; line-height: 30px; color: white;"> 
					 				{$alumno.comprension}% 
					 			</div>
					 		</div>
					 	</div>
					 	</br>
						<center>
							<input type="number" class="form-control" name="datos[comprension]" required value = "{$alumno.comprension}" style="width:65px ; display:block; "maxlength="3">
						</center>
					 </td>
	
						<td width='500'>
							<div id="myprogress" style=" position: relative; width: 100%; height: 30px; background-color: #ddd;">
								<div id="mybar" style="position: absolute; width: {$alumno.participacion}% ;height: 100%; background-color: #4caf50;">	
									<div id="label" 
										style="text-align: center; line-height: 30px; color: white;">
										{$alumno.participacion}%
									</div>
								</div>
							</div>
							</br>
							<center>
								<input type="number" class="form-control" name="datos[participacion]" required value = "{$alumno.participacion}" style="width:65px ; display:block; "maxlength="3">
							</center>
						</td>
						
						<td width='500'>
						 	<div id="myprogress" style=" position: relative; width: 100%; height: 30px; background-color: #ddd;">	
						 		<div id="mybar" style="position: absolute; width: {$alumno.actividades}% ;height: 100%; background-color: #4caf50;">
						 			<div id="label" 
						 				style="text-align: center; line-height: 30px; color: white;">
						 				{$alumno.actividades}% 
						 			</div>
						 		</div>
						 	</div>
						  </br>
						 	<center>
						 		<input type="number" class="form-control" name="datos[actividades]" required value = "{$alumno.actividades}" style="width:65px ; display:block; "maxlength="3">
						 	</center>
						</td>
						
						<td width='500'>
						 	<div id="myprogress" style=" position: relative; width: 100%; height: 30px; background-color: #ddd;">	
						 		<div id="mybar" style="position: absolute; width: {$alumno.reporte}% ;height: 100%; background-color: #4caf50;">
						 			<div id="label" 
						 				style="text-align: center; line-height: 30px; color: white;">
						 				{$alumno.reporte}% 
						 			</div>
						 		</div>
						 	</div>
						 	</br>
						</td>
	
						<td width='500'>
							<div id="myprogress" style=" position: relative; width: 100%; height: 30px; background-color: #ddd;">
								<div id="mybar" style="position: absolute; width: {$alumno.terminado}% ;height: 100%; background-color: #4caf50;">
									<div id="label" 
										style="text-align: center; line-height: 30px; color: white;">
										{$alumno.terminado}%
									</div>
								</div>
							</div>
						</td>
	
						<td style="vertical-align:middle">
							<a 
								href="redacta.php?accion=redactarI&info1={$grupo}&info2={$alumno.nocontrol}">
								<img src="../Images/sobre.png">
							</a>
							<input type="submit" style='display: none'/>
							<a href="grupo.php?accion=libros&info={$alumno.cvelectura}&info2={$alumno.nocontrol}">
								<img src="../Images/libros.png">
							</a>
						</td>
	
					</form>
	
				</tr>
			{/foreach}
		</table>	
	{/if}
{/if}

{if isset($libros)}
	<div class="page-header">
    <h2>Lista de Libros del Alumno</h2>
  </div>

  <table class='table table-striped' width='500'>
    
    <tr>
    	<th><center>CLAVE</center></th>
			<th><center>TITULO</center></th>
			<th><center>ESTADO</center></th>
			<th><center>REPORTE</center></th>
			<th width='500'><center>CALIFICACIÓN</center></th>
		</tr>

		{foreach $libros as $libro}
			<tr>
				<form class='form-inline' 
					action="grupo.php?accion=calificar_reporte&info1={$libro.cvelista}&info2={$libro.cvelectura}&info3={$libro.nocontrol}" 
					method='post'>
				
					<td><center>{$libro.cvelibro}</center></td>
					<td><center>{$libro.titulo}</center></td>
					<td><center>{$libro.combo}</center></td>
					<td><center>
						{if isset($libro.archivoExiste)}
							<a href="grupo.php?accion=reporte&info1={$libro.cvelibro}&info2={$libro.cvelectura}&info3={$libro.archivoExiste}"> 
					  	<img src="../Images/reporte.png"></a>
						{else}
							<img src="../Images/noexiste.png"></a>
						{/if}
					</center></td>
					
					<td width='500'>
						<center>
						 	<div id="myprogress" style=" position: relative; width: 130px; height: 30px; background-color: #ddd;">	
						 		<div id="mybar" style="position: absolute; width: {$libro.calif_reporte}% ;height: 100%; background-color: #4caf50;">
						 			<div id="label" 
						 				style="text-align: center; line-height: 30px; color: white;">
						 				{$libro.calif_reporte}% 
						 			</div>
						 		</div>
						 	</div>
					 		</br>
							<input type="number" class="form-control" name="calificacion" required 
								value="{$libro.calif_reporte}" style="width:65px; display:block;" 
								maxlength="3" />
							<input type="submit" style='display: none'/>
					 	</center>
					</td>

				</form>
			</tr>
		{/foreach}

	</table>
{/if}

{include file="footer.html"}
