{include file='header.html'}
{$ruta}
{if isset($msg)}{include file='../mensajes.html'}{/if}

<div class="container-fluid">
  <div class="main row">
    <nav class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-3">
      
      {if isset($para)} {if isset($cveperiodo)}
        <form name="messageform" action="redacta.php?accion=enviar&para={$para}&cveperiodo={$cveperiodo}" method="post" id="messageform" 
          enctype="multipart/form-data">
          
          <div class="panel panel-default">
          
            <div class="panel-heading">
              <h3 class="panel-title"> Enviar Aviso Grupal | Individual ***** </h3>
            </div>
            
            <div class="panel-body">
              
              <div class="small-10 columns form-group">
                <label> Asunto<span class="kv-reqd">*</span></label>
                <input class="span12 form-control" name="introduccion" id="subject" placeholder="Asunto" data-toggle="tooltip" 
                  title="Se aceptan entre 10 y 80 caracteres" data-validation-required-message="Por favor, ingrese el asunto" required 
                  value='{if isset($mensaje)}{$mensaje[0].introduccion}{/if}' {if isset($mensaje)}readonly{/if}>
              </div>
              
              <div class="small-10 columns form-group">
                <label> Contenido del mensaje<span class="kv-reqd">*</span></label>
                <textarea class="form-control span12" name="descripcion" id="content" rows="7" cols="100"
                  placeholder="Contenido del mensaje" data-validation-required-message="Por favor, ingrese su mensaje" minlength="5" 
                  data-validation-minlength-message="Mínimo 5 caracteres" data-toggle="tooltip" 
                  title="Se aceptan entre 50 y 500 caracteres" required 
                  {if isset($mensaje)}readonly{/if}>{if isset($mensaje)}{$mensaje[0].descripcion}{/if}</textarea>                    
              </div>
              
              <div class="small-10 columns form-group">
                <label> Fecha de Expiracion<span class="kv-reqd">*</span></label>
                <input type="date"  class="form-control" name="expira" required
                  value='{if isset($mensaje)}{$mensaje[0].expira}{/if}' {if isset($mensaje)}readonly{/if}>                      
              </div>
              
              {if !isset($mensaje)} {if !isset($mensaje)}
              <div class="small-10 columns form-group">
                <label>Subir archivo</label>
                <input type="file" id="input12" name="archivo">
              </div>
              {/if}{/if}
              
              <div class="small-10 columns form-group" align="right">
                <input type="reset" value="Cancelar" class="btn btn-danger" data-toggle="tooltip" data-placement="top" 
                  title="Borrar datos" id="_cancel" name="_cancel">
                <input type="submit" value="Enviar" class="btn btn-success" data-toggle="tooltip" data-placement="top" 
                  title="Publicar aviso" id="_send" name="_send">
              </div>
            
            </div><!--end panel-body-->
          
          </div> <!--end panel panel-defaul-->
          
          <!--<div class="small-6 columns" style="margin-top:15px;"></div>-->
          <!--<div class="small-6 columns"></div>-->
        </form>
      {/if} {/if}
      
      {if isset($accion)}
        <form name="messageform" method="post" id="messageform" enctype="multipart/form-data"
          action="redacta.php?accion=enviarI&para={if isset($grupo)}{$grupo}{/if}&receptor={if isset($receptor)}{$receptor}{/if}">
          
          <input type="hidden" name="action" id="action">
          
          <div class="panel panel-default">
            
            <div class="panel-heading">
              <h3 class="panel-title"> Enviar Aviso Grupal | Individual ***** </h3>
            </div>
            
            <div class="panel-body">
              
              <div class="small-10 columns form-group">
                <label>Asunto<span class="kv-reqd">*</span></label>
                <input class="span12 form-control" name="introduccion" id="subject" placeholder="Asunto" 
                  data-toggle="tooltip" required value='{if isset($mensaje)}{$mensaje[0].introduccion}{/if}' 
                  {if isset($mensaje)}readonly{/if}>
              </div>
              
              <div class="small-10 columns form-group">
                <label> Contenido del mensaje<span class="kv-reqd">*</span></label>
                <textarea class="form-control span12" name="descripcion" id="content" rows="7"
                  placeholder="Contenido del mensaje" minlength="5" data-toggle="tooltip" required
                  {if isset($mensaje)}readonly{/if}>{if isset($mensaje)}{$mensaje[0].descripcion}{/if}</textarea>
              </div>
              
              <div class="small-10 columns form-group">
                <label>Fecha de Expiracion<span class="kv-reqd">*</span></label>
                <input type="date" class="form-control" name="expira" required value='{if isset($mensaje)}{$mensaje[0].expira}{/if}' 
                  {if isset($mensaje)}readonly{/if}>
              </div>
              
              {if !isset($mensaje)}
                <div class="small-10 columns form-group">
                  <label>Subir archivo</label>
                  <input type="file" id="input12" name="archivo">
                </div>
                
                <div class="small-6 columns form-group" align="right">
                  <input type="reset" value="Cancelar" class="btn btn-danger" data-toggle="tooltip" 
                    data-placement="top" id="_cancel" name="_cancel">
                  <input type="submit" value="Enviar" class="btn btn-success" data-toggle="tooltip" data-placement="top" 
                  id="_send" name="_send">
                </div>
              {/if}
              
              {if isset($archivo)}
                <a style="text-decoration:none; color:black; padding-right:10px" 
                  href="{if !isset($eliminado)}msj.php?accion=archivo&info={$archivo}{else}#{/if}">
                  <img src="../Images/docs.png"> {$archivo}
                </a>
              {/if}
              
            </div>
          </div>
          
          <div class="small-6 columns" style="margin-top:15px;"></div>
          <div class="small-6 columns"></div>
        </form>
      {else} {if !isset($cveperiodo)}
        <div class="small-6 columns">
          <label>No se a especificado destinatario</label>
        </div>
      {/if} {/if}
      
    </div>
  </div>
</div>

{include file='footer.html'}