{include file='header.html'}
  
  <center>
    <h3>¡Bienvenido! <br> Sistema de cambio de contraseña</h3>
    <form class="form-inline" action='formcontrasena.php' method='post' enctype='multipart/form-data' accept-charset='utf-8'>
      
      <div class="form-group">
        <label>Usuario:</label>
        <input class="form-control" placeholder="NoControl/RFC" name="datos[cveUsuario]" required maxlength="13">
      </div>
      
      <button type="submit" class="btn btn-default" value='Login' name="guardar">Enviar correo</button>
      
      {if isset($message)}
        <div class="form-group"> {$mensaje} </div>
      {/if}
      
    </form>
  </center>

{include file='footer.html'}