{include file='foro_header.html'}

<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">Foro: {$libro.titulo}</h1>
          </div>                                                                                
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#page-breadcrumb-->

<section id="blog-details" class="padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-7">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="single-blog blog-details two-column">
              
              <div class="post-thumb">
                <a href="#"><img src="Images/portadas/{$libro.portada}" class="img-responsive" alt=""></a>
                <div class="post-overlay">
                  <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                </div>
              </div>
              
              <div class="post-content overflow">
                <h2 class="post-title bold"><a href="#">{$libro.titulo}</a></h2>
                <h3 class="post-author"><a href="#">Escrito por: {$libro.autor}</a></h3>
                <p>{$libro.sinopsis}</p>
                <div class="post-bottom overflow">
                  <ul class="nav navbar-nav post-nav">
                    <!--<li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>-->
                    <li><a href="#"><i class="fa fa-comments"></i>{$no_comentarios} Comentarios</a></li>
                  </ul>
                </div>
                
                <div class="blog-share">
                  <span class='st_facebook_hcount'></span>
                  <span class='st_twitter_hcount'></span>
                  <span class='st_linkedin_hcount'></span>
                  <span class='st_pinterest_hcount'></span>
                  <span class='st_email_hcount'></span>
                </div>
                
                <div class="response-area">
                  <h2 class="bold">¡Deja tu reseña!</h2>
                  <div class="form-group">
                    <textarea class="form-control" name="review" rows="5" 
                      placeholder="Máximo 1000 caracteres"></textarea>
                  </div>
                  <div class="form-group" align="right">
                    <input class="btn btn-primary" type="submit" value="Enviar"/>
                  </div>
                </div>
                
                <div class="response-area">
                  <h2 class="bold">Comentarios</h2>
                  <ul class="media-list">
                    {if isset($comentarios)}
                      {foreach $comentarios as $comentario}
                        <li class="media">
                          <div class="post-comment">
                            <a class="pull-left" href="#">
                              <img class="media-object" src="../fotos/{$comentario.foto}" alt="">
                            </a>
                            <div class="media-body">
                              <span><i class="fa fa-user"></i>publicado por <a href="#">{$comentario.nombre}</a></span>
                              <p>{$comentario.contenido}</p>
                              <ul class="nav navbar-nav post-nav">
                                <li><a href="#"><i class="fa fa-clock-o"></i>{$comentario.fecha}</a></li>
                                <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>
                              </ul>
                            </div>
                          </div>
                          
                          {if isset($comentario.respuesta)}
                            {foreach $comentario.respuesta as $respuesta}
                              <div class="parrent">
                                <ul class="media-list">
                                  <li class="post-comment reply">
                                    <a class="pull-left" href="#">
                                      <img class="media-object" src="fotos/{$respuesta.foto}" alt="">
                                    </a>
                                    <div class="media-body">
                                      <span><i class="fa fa-user"></i>Comentario de <a href="#">{$respuesta.nombre}</a></span>
                                      <p>{$respuesta.contenido} </p>
                                      <ul class="nav navbar-nav post-nav">
                                          <li><a href="#"><i class="fa fa-clock-o"></i>{$respuesta.fecha}</a></li>
                                      </ul>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            {/foreach}
                          {/if}
                        </li>
                      {/foreach}
                    {/if}
                    
                        
                  </ul>                   
                </div><!--/Response-area-->
              </div>
            </div>
          </div>
        </div>
      </div>
 
      <div class="col-md-3 col-sm-5">
        <div class="sidebar blog-sidebar">
          
          <div class="sidebar-item  recent">
            
            <h3>Comments</h3>
            <div class="media">
              <div class="pull-left">
                <a href="#"><img src="Images/foro/portfolio/project1.jpg" alt=""></a>
              </div>
              <div class="media-body">
                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                <p>posted on  07 March 2014</p>
              </div>
            </div>
            
            <div class="media">
              <div class="pull-left">
                <a href="#"><img src="Images/foro/portfolio/project2.jpg" alt=""></a>
              </div>
              <div class="media-body">
                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                <p>posted on  07 March 2014</p>
              </div>
            </div>
            
            <div class="media">
              <div class="pull-left">
                <a href="#"><img src="Images/foro/portfolio/project3.jpg" alt=""></a>
              </div>
              <div class="media-body">
                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                <p>posted on  07 March 2014</p>
              </div>
            </div>
            
          </div>
          
          <div class="sidebar-item categories">
            <h3>Categories</h3>
            <ul class="nav navbar-stacked">
              <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
              <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a></li>
              <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
              <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
              <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
              <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
              <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
              <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
            </ul>
          </div>
          
          <div class="sidebar-item tag-cloud">
            <h3>Tag Cloud</h3>
            <ul class="nav nav-pills">
              <li><a href="#">Corporate</a></li>
              <li><a href="#">Joomla</a></li>
              <li><a href="#">Abstract</a></li>
              <li><a href="#">Creative</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Product</a></li>
            </ul>
          </div>
          
          <div class="sidebar-item popular">
            <h3>Latest Photos</h3>
            <ul class="gallery">
              <li><a href="#"><img src="Images/foro/portfolio/popular1.jpg" alt=""></a></li>
              <li><a href="#"><img src="Images/foro/portfolio/popular2.jpg" alt=""></a></li>
              <li><a href="#"><img src="Images/foro/portfolio/popular3.jpg" alt=""></a></li>
              <li><a href="#"><img src="Images/foro/portfolio/popular4.jpg" alt=""></a></li>
              <li><a href="#"><img src="Images/foro/portfolio/popular5.jpg" alt=""></a></li>
              <li><a href="#"><img src="Images/foro/portfolio/popular1.jpg" alt=""></a></li>
            </ul>
          </div>
            
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#blog-->


{include file="foro_footer.html"}