{include file='header.html'}
{if isset($msg)}{include file='mensajes.html'}{/if}

<link rel="stylesheet" href="../css/aviso_publico.css" type="text/css" />

{if isset($mensajes)}
  <center><h1>Avisos</h1></center>
 	{foreach $mensajes as $m}
		<div class="w3-card-4 w3-margin" style="width:97%">
	 
			<nav class="w3-container w3-blue" style="background-color:#3F51B5">
			  <h1>{$m.fecha}: {$m.introduccion}</h1>
			</nav>
			
			<div class="w3-container">
			  <p style="margin-top:5px">{$m.descripcion}</p>
			</div>
			
			<footer class="w3-container w3-blue" style="background-color:#1A237E">
			  <h5>Expira: {$m.expira}</h5>
			</footer>
		
		</div>
	{/foreach}
{/if}

{include file='footer.html'}
